In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
data1 = pd.read_csv('train.csv')

In [3]:
data2 = pd.read_csv('train2.csv')

In [4]:
data1.value_counts('Genre') #so imbalanced

Genre
Rock          121404
Pop           108714
Metal          20291
Jazz           13545
Folk            8644
Indie           8449
R&B             2793
Hip-Hop         2240
Electronic      2213
Country         1890
dtype: int64

In [5]:
data1.head()

,Artist,Song,Genre,Language,Lyrics
0,12 stones,world so cold,Rock,en,"It starts with pain, followed by hate\nFueled ..."
1,12 stones,broken,Rock,en,Freedom!\nAlone again again alone\nPatiently w...
2,12 stones,3 leaf loser,Rock,en,"Biting the hand that feeds you, lying to the v..."
3,12 stones,anthem for the underdog,Rock,en,You say you know just who I am\nBut you can't ...
4,12 stones,adrenaline,Rock,en,My heart is beating faster can't control these...

In [6]:
data2.head()

                                               Lyric       Genre0
0  sweet as a jizzabell dancing on your tongue. l...          Pop
1  demon hunter - fading away. it’s in this wake ...  Heavy Metal
2  what if they steal my skateboard?. what if the...         Rock
3  (mcdaniels). i say hey mona. oh mona. i say ye...         Rock
4  i went down to the (?????). didn't really know...          Pop

In [7]:
def cleaning(data):
    data["Lyrics"] = data['Lyrics'].str.lower()
    data["Lyrics"] = data['Lyrics'].str.replace(':','')
    data["Lyrics"] = data['Lyrics'].str.replace(',','')
    data["Lyrics"] = data['Lyrics'].str.replace('chorus','')
    data["Lyrics"] = data['Lyrics'].str.replace('verse','')
    data = data.replace({'\n': ' '}, regex=True)
    data = data.replace({'\?': ''}, regex=True)
    data = data.replace({'\[': ''}, regex=True)
    data = data.replace({'\]': ''}, regex=True)
    data = data.replace({'\(': ''}, regex=True)
    data = data.replace({'\)': ''}, regex=True)
    
    return data

In [8]:
def preProcessing1(realdata):
    realdata.drop('Artist', inplace=True, axis=1)
    realdata.drop('Song', inplace=True, axis=1)

    data2 = realdata[realdata['Genre'].isin(['Rock', 'Pop', 'Hip-Hop', 'Indie', 'Jazz'])]
    data2 = data2.loc[data2['Language'] == 'en']
    
    data2.drop('Language', inplace=True, axis=1)
    
    data2 = cleaning(data2)
    
    return data2

In [9]:
data1.value_counts('Genre')

Genre
Rock          121404
Pop           108714
Metal          20291
Jazz           13545
Folk            8644
Indie           8449
R&B             2793
Hip-Hop         2240
Electronic      2213
Country         1890
dtype: int64

In [10]:
data1 = preProcessing1(data1)

In [11]:
data1 = data1.dropna()
data2 = data2.dropna()

In [12]:
data2 = data2.rename(columns = {'Genre0': 'Genre', 'Lyric': 'Lyrics'})

In [13]:
data2.value_counts('Genre')

Genre
Rock           18971
Pop            11227
Hip-Hop         8843
Indie           5130
Heavy Metal     2729
Dance           1593
dtype: int64

In [14]:
data2 = data2[data2['Genre'].isin(['Rock', 'Pop', 'Hip-Hop', 'Indie'])]

In [15]:
data1

        Genre                                             Lyrics
0        Rock  it starts with pain followed by hate fueled by...
1        Rock  freedom! alone again again alone patiently wai...
2        Rock  biting the hand that feeds you lying to the vo...
3        Rock  you say you know just who i am but you can't i...
4        Rock  my heart is beating faster can't control these...
...       ...                                                ...
290176  Indie  ride! ride! ride! ride! ride! ride! ride the c...
290179    Pop  bad boys blue "i totally miss you" i did you w...
290180    Pop  forgive me for the things that i never said to...
290181  Indie  the day they found a cure for aids the day the...
290182    Pop  fourth of july has come it's custom that we go...

[216235 rows x 2 columns]

In [16]:
data2.value_counts('Genre')

Genre
Rock       18971
Pop        11227
Hip-Hop     8843
Indie       5130
dtype: int64

In [17]:
data2 = cleaning(data2)

In [18]:
alldata = pd.concat([data1, data2])

In [19]:
alldata.value_counts('Genre')

Genre
Rock       126116
Pop         97525
Jazz        13314
Indie       12370
Hip-Hop     11081
dtype: int64

In [20]:
division = int(alldata.value_counts('Genre')[0] /7) 
division2 = int(alldata.value_counts('Genre')[1] /5)

In [21]:
rockdata = alldata.loc[alldata['Genre'] == 'Rock'].sample(n = division)
popdata = alldata.loc[alldata['Genre'] == 'Pop'].sample(n = division2)

In [22]:
popdata

       Genre                                             Lyrics
178383   Pop  there's a feeling about myself that i can't un...
255893   Pop  christmas tells me a little music and some lig...
74445    Pop  chris brown talks yeah i think i know who you ...
20318    Pop  what's it been over a decade. it still smarts ...
244401   Pop  and i will flail under these lights that seep ...
...      ...                                                ...
113630   Pop  rock me baby rock me rock me rock me baby rock...
212948   Pop  it's sad to think we're not gonna make it and ...
114416   Pop  tonight there's gonna be a whole lot of smoke ...
140625   Pop  heaven help the soul that's severed from the p...
75454    Pop   1 never felt like this before girl when you w...

[19505 rows x 2 columns]

In [23]:
alldata = alldata[alldata['Genre'].isin(['Hip-Hop', 'Indie', 'Jazz'])]

In [24]:
rockpop = pd.concat([rockdata, popdata])
alldata = pd.concat([alldata, rockpop])
alldata.value_counts('Genre')

Genre
Pop        19505
Rock       18016
Jazz       13314
Indie      12370
Hip-Hop    11081
dtype: int64

In [25]:
train, val = train_test_split(alldata, test_size=0.1)

In [26]:
train.to_csv('lasttrain.csv', header = True, index = False)
val.to_csv('lastval.csv', header = True, index = False)

In [31]:
alldata

        Genre                                             Lyrics
3208    Indie  leave now while you can 'cause growing old jus...
3209    Indie  we've been poisoned tracked down herded to sta...
3210    Indie  the needle's in hand but i cannot sew. my hear...
3211    Indie  i catch every whisper surrounding your head yo...
3212    Indie  get off of work come home pass out. my life's ...
...       ...                                                ...
113630    Pop  rock me baby rock me rock me rock me baby rock...
212948    Pop  it's sad to think we're not gonna make it and ...
114416    Pop  tonight there's gonna be a whole lot of smoke ...
140625    Pop  heaven help the soul that's severed from the p...
75454     Pop   1 never felt like this before girl when you w...

[74286 rows x 2 columns]

In [29]:
alldata.to_csv('alldata.csv', header=True, index=False)